.card {
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 6px;
  background-color: #fdfdfd;
  border: 1px solid #f8f8f8;
  box-shadow: 0 3px 5px rgba(122, 122, 122, 0.05);

  &:hover {
    border-color: #fdfdfd;
    background-color: #f8f8f8;
    transition: all 150ms ease-in-out;
    box-shadow: 0 3px 10px rgba(122, 122, 122, 0.18);
  }

  & .clickable {
    cursor: pointer;
  }

  & .status {
    width: 6px;
    height: 6px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;

    &.good {
      background-color: rgb(25, 204, 25);
    }
  }

  & .title {
    color: #bbb;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
  }
}

.open-icon {
  font-size: 16px;
  color: rgb(17, 130, 175);
}

.show-more {
  font-size: 12px;
  cursor: pointer;
  color: rgb(17, 130, 175);
}

.headers {
  padding: 0 15px;

  .header {
    color: #bbb;
    font-size: 11px;
    text-transform: uppercase;
  }
}
